# Symbol to append to cmd msgs in public #
pubsym	= '!'
# Total of aliases known #
num_aliases	= 0
# If True, Scrib doesn't save his brain and configuration to disk #
no_save	= 'False'
#  #
twitter	= 0
# Total word contexts #
num_contexts	= 53
# Words that can be ignored for the answer #
ignore_list	= ['!.', '?.', "'", ',', ';']
# max limits in the number of words known #
max_words	= 106000
# Allow the bot to learn #
learning	= 1
# N #
process_with	= 'scrib'
# A list of similars words #
aliases	= {}
# Don't learn the sentence if one of those words is found #
censored	= []
# Total unique words known #
num_words	= 41
# End of configuration #